{% extends 'base_public.html' %}
{% load static %}

{% block title %}Catálogo{% endblock %}

{% block content %}

<section class="catalog-section">

<div class="container">

<!-- Título -->
<div class="catalog-header text-center" data-aos="fade-up">
  <!--  <span class="catalog-subtitle">Nuestro catálogo</span> -->
    <h1 class="catalog-title"><i class="fa-solid fa-boxes-stacked"></i> Nuestro catálogo</h1>
    <div class="catalog-divider">
        <span></span>
    </div>
    <p class="catalog-description">
        Encuentra los mejores productos disponibles en nuestra bodega.
    </p>
</div>

<!-- Buscador -->
<div class="catalog-search" data-aos="fade-down">
  <form method="get">
    <div class="row g-3">
      <div class="col-lg-6">
        <input type="text" name="q" class="form-control" value="{{ query }}" placeholder="Buscar producto...">
      </div>
      <div class="col-lg-3">
        <select name="tipo" class="filtro-categoria text-center">
          <option value="">Todos los tipos</option>
          {% for tipo_item in tipos_disponibles %}
            <option value="{{ tipo_item }}" {% if tipo_item == tipo %}selected{% endif %}>{{ tipo_item }}</option>
          {% endfor %}
          </select>
      </div>
      <div class="col-lg-3">
        <button class="btn catalog-btn w-100"><i class="fas fa-search"></i>
          Buscar producto
        </button>
      </div>
      <!--
      <div class="category-filter">
        <a href="?q={{ query }}" class="{% if not tipo %}active{% endif %}">
          Todos
        </a>

        {% for tipo_item in tipos_disponibles %}

        <a href="?q={{ query }}&tipo={{ tipo_item }}" class="{% if tipo_item == tipo %}active{% endif %}">
        {{ tipo_item }}
        </a>
        {% endfor %}

      </div> -->
    </div>
  </form>
</div>

<!-- Productos -->

<div class="row catalog-grid">
  {% for producto in page_obj.object_list %}
    <div class="col-xl-4 col-lg-4 col-md-6 mb-4" data-aos="fade-up">
      <div class="product-card">
        <div class="product-image">
          <button
            type="button"
            class="image-button"
            data-bs-toggle="modal"
            data-bs-target="#imageModal"
            data-image="{% if producto.imagen %}{% static 'img/productos/' %}{{ producto.imagen }}{% else %}{% static 'img/logo.png' %}{% endif %}"
            data-name="{{ producto.nombre }}"
            data-price="S/ {{ producto.precio }}">
          {% if producto.imagen %}
            <img src="{% static 'img/productos/' %}{{ producto.imagen }}" alt="{{ producto.nombre }}">
          {% else %}
            <img src="{% static 'img/logo.png' %}" alt="Sin imagen">
          {% endif %}
          </button>
          <span class="product-badge"> {{ producto.tipoProducto }}
          </span>
        </div>
        <div class="product-body">
          <h3 class="product-nombre">{{ producto.nombre }}</h3>
          <p class="product-description">
            {{ producto.detalle|truncatechars:80 }}
          </p>
          <div class="product-footer">
            <div class="col-md-6">
              <span class="price">
                S/ {{ producto.precio }}
              </span>
            </div>
            <div class="col-md-4">
              <small class="product-stock text-end">
                Stock: {{ producto.stock }}
              </small>
            </div>

            <!--Para agregar al carrito
            <a href="{% url 'agregar_carrito' producto.id %}"
               class="btn-add">

                <i class="fas fa-plus"></i>
            </a>-->
          </div>
        </div>
      </div>
    </div>
      {% empty %}
    <div class="col-12">
      <div class="alert alert-warning">
        No se encontraron productos.
      </div>
    </div>
  {% endfor %}
</div>

<!-- Paginación -->
<nav class="catalog-pagination">
  <ul class="pagination justify-content-center">
 {% if page_obj.has_previous %}
    <li class="page-item">
      <a class="page-link" href="?q={{ query }}&tipo={{ tipo }}&page={{ page_obj.previous_page_number }}">
        Anterior
      </a>
    </li>
      {% else %}
    <li class="page-item disabled">
      <span class="page-link">
        Anterior
      </span>
    </li>
    {% endif %}
  
    {% for num in page_obj.paginator.page_range %}
    {% if num == page_obj.number %}
    <li class="page-item active">
     <span class="page-link"> {{ num }} </span>
    </li>
    {% elif num >= page_obj.number|add:'-3' and num <= page_obj.number|add:'3' %}
    <li class="page-item">
      <a class="page-link" href="?q={{ query }}&tipo={{ tipo }}&page={{ num }}">
        {{ num }}
      </a>
    </li>
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
    <li class="page-item">
      <a class="page-link" href="?q={{ query }}&tipo={{ tipo }}&page={{ page_obj.next_page_number }}">
        Siguiente
      </a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <span class="page-link">
        Siguiente
      </span>
    </li>
    {% endif %}
  </ul>
  </nav>
</div>

</section>

<!-- Modal Imagen Producto -->

<div class="modal fade" id="imageModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content product-modal">
      <div class="modal-header text-center">
        <h5 class="modal-title" id="modalName"> Producto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"> </button>
      </div>
      <div class="modal-body text-center">
        <img id="modalImage" class="img-fluid modal-product-image">
        <h4 class="modal-price mt-3" id="modalPrice"></h4>
      </div>
    </div>
  </div>
</div>

<script>
document.addEventListener("DOMContentLoaded", function(){
  const images = document.querySelectorAll(".image-button");
  images.forEach(function(img){
    img.addEventListener("click", function(){
      document.getElementById("modalImage").src = this.dataset.image;
      document.getElementById("modalName").innerText = this.dataset.name;
      document.getElementById("modalPrice").innerText = "Precio: " + this.dataset.price;
    });
  });
});
</script>

{% endblock %}
