<footer class="bg-dark text-center text-white p-4 mt-auto">
    <div class="container">
      <div class="row small">
                <div class="col-md-4 mb-3">
                    <h6 class="text-uppercase">Sobre nosotros</h6>
                    <p class="mb-1">Doña Catita, tu bodega de confianza y con los mejores precios de la rica FM.</p>
                </div>
                <div class="col-md-4 mb-3">
                    <h6 class="text-uppercase">Enlaces útiles</h6>
                    <ul class="list-unstyled">
                        <li><a href="{% url 'inicio' %}" class="text-white-50 text-decoration-none">Inicio</a></li>
                        <li><a href="#" class="text-white-50 text-decoration-none">Noticias</a></li>
                        <li><a href="#" class="text-white-50 text-decoration-none">Comunidad</a></li>
                        <li><a href="#" class="text-white-50 text-decoration-none">Contacto</a></li>
                        <li><a href="#" class="text-white-50 text-decoration-none">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-md-4 mb-3">
                    <h6 class="text-uppercase">Contacto</h6>
                    <p class="mb-1">michaelanampa@gmail.com</p>
                    <p class="mb-1">+51 930 233 684</p>
                    <p class="mb-1">Calle 3 de Octubre #1598</p>
                </div>
            </div>
            <hr class="bg-secondary my-2">
            <div class="text-center small text-white-50">
                <small>© {% now "Y" %} AMAD. Todos los derechos reservados.</small>
            </div>
    </div>
  </footer>