<body>

{% if user.is_authenticated %}

    {% include 'includes/sidebar_admin.html' %}

    <div class="contenido-admin">

{% else %}

    {% include 'includes/navbar_publico.html' %}

    <div class="page-content">

{% endif %}

        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-info">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}

        {% block content %}
        {% endblock %}

    </div>

{% if not user.is_authenticated %}

<footer class="bg-dark text-center text-white p-4 mt-auto">

    ...

</footer>

{% endif %}

</body>