{% extends 'base.html' %}

{% block title %}Registrar Producto{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title mb-3 text-center"><i class="fa-brands fa-product-hunt"></i> Registrar Producto</h2>
        <form method="post">
          {% csrf_token %}
          {{ form.non_field_errors }}
          {% for field in form %}
            <div class="mb-3">
              {{ field.label_tag }}
              {{ field }}
              {% if field.help_text %}<small class="form-text text-muted">{{ field.help_text }}</small>{% endif %}
              {{ field.errors }}
            </div>
          {% endfor %}
          <button class="btn btn-success" type="submit"><i class="fas fa-save"></i> Guardar</button>
          <a class="btn btn-secondary" href="{% url 'lista_productos' %}"><i class="fas fa-arrow-left"></i> Volver</a>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const form = document.querySelector('form');
    form.addEventListener('submit', function (event) {
      event.preventDefault();
      const modal = new bootstrap.Modal(document.getElementById('confirmarGastoModal'));
      modal.show();
    });

    const btnConfirmarRegistro = document.getElementById('btnConfirmarRegistro');
    btnConfirmarRegistro.addEventListener('click', function () {
      form.submit();
    });
  });
</script>

<!-- Modal de confirmación -->
<div class="modal fade" id="confirmarGastoModal" tabindex="-1" aria-labelledby="confirmarGastoLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
              <h5 class="modal-title" id="confirmarGastoLabel">
                Confirmar registro
              </h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"></button>
            </div>

            <div class="modal-body">
                ¿Estás seguro de registrar este producto?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" id="btnConfirmarRegistro">
              Sí, registrar
              </button>
              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
                Cancelar
              </button>
            </div>

        </div>
    </div>
</div>


{% endblock %}
