/* =====================================
   CATALOGO - ESTILO MENU
===================================== */

body{

    font-family:'Poppins', sans-serif;

}

.catalog-section{

    padding:20px 0;

    background:#ffffff;

}



/* =====================================
   CABECERA
===================================== */


.catalog-header{

    margin-bottom:50px;

}


.catalog-subtitle{

    color:#da1a1a;

    font-size:18px;

    text-transform:uppercase;

    letter-spacing:3px;

    font-weight:600;

}


.catalog-title{

    margin-top:15px;

    font-size:48px;

    font-weight:700;

    color:#222;

}


.catalog-description{

    color:#da1a1a;

    max-width:650px;

    margin:auto;

}



.catalog-divider{

    width:100px;

    height:3px;

    background:#da1a1a;

    margin:25px auto;

    position:relative;

}


.catalog-divider span{

    width:15px;

    height:15px;

    background:#da1a1a;

    border-radius:50%;

    position:absolute;

    left:50%;

    top:50%;

    transform:translate(-50%,-50%);

}





/* =====================================
   BUSCADOR
===================================== */


.catalog-search{

    background:#1c1b1b;

    padding:30px;

    border-radius:15px;

    box-shadow:0 10px 35px rgba(0,0,0,.06);

    margin-bottom:60px;

}



.catalog-search input,
.catalog-search select{

    height:55px;

    border-radius:30px;

    border:1px solid #ddd;

    padding-left:25px;

}


.catalog-btn{

    height:55px;

    border-radius:30px;

    background:#da1a1a;

    color:white;

    font-weight:600;

    transition:.3s;

}



.catalog-btn:hover{

    background:#da1a1a;

    color:white;

}





/* =====================================
   PRODUCTOS
===================================== */

/*
.catalog-grid{

    row-gap:40px;

}


.product-menu-item:hover{

    transform:translateY(-8px);

    box-shadow:0 15px 40px rgba(0,0,0,.08);

}
*/



/* Imagen */

/*
.product-image img{

    width:110px;

    height:110px;

    object-fit:cover;

    border-radius:50%;

    border:5px solid #e83939;

    padding:4px;

    background:white;

    transition:.4s;

}
*/

/*
.product-heading h3{

    font-size:23px;

    font-weight:700;

    margin:0;

    color:#222;

    white-space:nowrap;

}

.product-category{

    display:block;

    margin-top:8px;

    color:#999;

    font-size:13px;

    text-transform:uppercase;

    letter-spacing:1px;

    font-weight:600;

}



.product-detail{

    margin-top:12px;

    color:#666;

    line-height:1.7;

}


*/
/* =====================================
   PAGINACION
===================================== */


.catalog-pagination{

    margin-top:60px;

}



.pagination .page-link{

    color:#050505;

    border-radius:50%;

    margin:0 5px;

    width:40px;

    height:40px;

    text-align:center;

    border:1px solid #040404;

}



.pagination .active .page-link{

    background:#080808;

    border-color:#000000;

    color:white;

}

.pagination .disabled .page-link{
    background: #ae2c2c;
    border-color: #ae2c2c;
    color: #ffffff;
}

.pagination .page-item .page-link:hover{
    background: #ae2c2c;
    border-color: #ae2c2c;
    color: #ffffff;
}



/* =====================================
   RESPONSIVE
===================================== */


.product-menu-item{

    overflow:hidden;

}


/* =====================================
   FILTRO DE CATEGORIAS
===================================== */


.category-filter{

    display:flex;

    justify-content:center;

    flex-wrap:wrap;

    gap:15px;

    margin-bottom:35px;

}



.category-filter a{

    text-decoration:none;

    color:#555;

    padding:12px 28px;

    border-radius:30px;

    background:white;

    border:1px solid #eee;

    font-weight:500;

    transition:.3s;

}



.category-filter a:hover{

    color:white;

    background:#da1a1a;

}



.category-filter a.active{

    color:white;

    background:#da1a1a;
    border-color:#da1a1a;

}

.catalog-pagination{

    padding-bottom:40px;

}


.pagination .page-item:first-child .page-link,
.pagination .page-item:last-child .page-link{

    width:auto;

    padding:10px 20px;

    border-radius:25px;

}

/* =====================================
   MODAL PRODUCTO
===================================== */


.image-button{

    border:none;
    background:none;

    padding:0;

    width:100%;
    height:100%;

    cursor:pointer;

}

.product-modal{

border-radius:25px;

overflow:hidden;

border:none;

}



.product-modal .modal-header{

border:none;

background:#faf8f5;

}



.modal-product-image{

max-height:500px;

object-fit:contain;

border-radius:20px;

}



.modal-price{

color:#da1a1a;

font-size:30px;

font-weight:700;

}

/*ultimo agregado */

.catalog-grid{
    row-gap:30px;
}

.product-card{

    background:#1c1b1b;
    border-radius:22px;
    overflow:hidden;
    box-shadow:0 15px 35px rgba(0,0,0,.08);
    transition:.35s;
    height:100%;
    display:flex;
    flex-direction:column;

}

.product-card:hover{

    transform:translateY(-8px);
    box-shadow:0 25px 45px rgba(0,0,0,.15);

}

.product-image{

    position:relative;
    height:260px;
    overflow:hidden;

}

.product-card:hover img{

    transform:scale(1.08);

}

.product-badge{

    position:absolute;
    left:15px;
    top:15px;

    background:#ff9800;
    color:#fff;

    padding:6px 14px;

    border-radius:30px;

    font-size:13px;
    font-weight:600;

}

.product-body{
    flex:1;
    display:flex;
    flex-direction:column;
    padding:22px;

}

.product-body h3{

    font-size:30px;
    font-weight:700;
    line-height:1.2;

}

.product-description{

    color:#ffffff;
    min-height:60px;

}

.product-nombre{
    color: #e53935;
}

.product-stock{
    color: #faf8f5;
}

.product-footer{

    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-top:25px;

}

.price{

    display:block;
    font-size:28px;
    font-weight:bold;
    color:#e53935;

}

.btn-add{

    width:55px;
    height:55px;

    border-radius:50%;
    background:#e53935;

    color:#fff;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:22px;

    text-decoration:none;

    transition:.3s;

}

.btn-add:hover{

    background:#b71c1c;
    color:#fff;

    transform:rotate(90deg);

}

.product-image img{

    width:100%;
    height:100%;
    object-fit:cover;

    display:block;

    transition:.5s;

}

.image-button img{

    width:100%;
    height:100%;

    object-fit:cover;

}

.product-footer{

    margin-top:auto;

    display:flex;

    justify-content:space-between;

    align-items:center;

}

.product-image img{

    width:100%;
    height:100%;
    object-fit:cover;

    display:block;

    transition:.5s;

}

/* =====================================
   para el select
===================================== */
.filtro-categoria {
    width: 260px;
    height: 56px;
    padding: 0 50px 0 20px;
    border: none;
    border-radius: 40px;
    background: #fff;
    color: #222;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    box-shadow: 0 4px 12px rgba(0,0,0,.12);
    transition: all .3s ease;
}

/* Hover */
.filtro-categoria:hover{
    box-shadow: 0 8px 20px rgba(0,0,0,.18);
}

/* Focus */
.filtro-categoria:focus{
    border: 2px solid #e71d1d;
    box-shadow: 0 0 0 4px rgba(231,29,29,.15);
}

/* Flecha personalizada */
.select-container{
    position: relative;
}

.select-container::after{
    content: "⌄";
    position: absolute;
    right: 22px;
    top: 50%;
    transform: translateY(-55%);
    font-size: 24px;
    color: #444;
    pointer-events: none;
}